{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.6.0"},
  {cowboy_telemetry, "0.4.0"},
  {telemetry, "1.1.0"},
  {opentelemetry_api, "1.5.0"},
  {opentelemetry, "1.6.0"},             
  {opentelemetry_exporter, "1.9.0"},    
  {opentelemetry_telemetry, "1.1.2"},
  {opentelemetry_cowboy, "1.0.0"},
  {opentelemetry_semantic_conventions, "1.27.0"},
  {otel_http, "0.2.0"}
]}.

{shell, [
  {config, "config/sys.config"}
]}.

{relx, [
  {release, {hello_app, "0.1.0"}, [hello_app]},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {warnings_as_errors, false},
  {silent, true}
]}.
