[
  {opentelemetry, [
    {span_processor, batch},
    {traces_exporter, otlp},
    % enable below line to see traces in console
    % {traces_exporter, {otel_exporter_stdout, []}},
    {resource_detectors, [otel_resource_env_var, otel_resource_app_env, host_detector]},
    {resource, #{
      <<"service.name">> => <<"erlang-cowboy-app">>,
      <<"service.version">> => <<"1.0.0">>,
      <<"cube.environment">> => <<"UNSET">>
    }}
  ]},
  
  {opentelemetry_exporter, [
    {otlp_protocol, http_protobuf},
    {otlp_endpoint, "https://d695c52cdf4a.ngrok-free.app"},   %eg http://cubeapm.com:4318
    {otlp_compression, gzip}
  ]}

  % Enable this block to use debug mode
  % This configures the Erlang logger to:
  % - Set global logging level to debug
  % - Format log messages with timestamp, level and message
  % - Enable this to use debug mode.
  
  % ,{kernel, [
  %   {logger_level, debug},
  %   {logger, [
  %     {handler, default, logger_std_h, #{
  %       level => debug,
  %       formatter => {logger_formatter, #{
  %         template => [time," ",level," ",msg,"\n"]
  %       }}
  %     }}
  %   ]}
  % ]}
  
].